extends layouts/master

mixin boximage(src)
	a.ad-img(href=src, style='background-image: url('+src+')', data-featherlight='image')
		img(src=src)

block content
	.content
		h1 Storyboard

		section.cf
			.desc
				h2 A dark screen

				ul
					li A blink of light, and a webpage loads.
					li Wikipedia. Floating in a virtual viewport in front of user. An article
					li History of astronomy. "We used to think earth was center of universe."
					li "Our understanding changed".
					li Another webpage loads. 
					li An old #[a(href='https://www.youtube.com/watch?v=GWy1YGNlNEU') news broadcast] on the beginnings of the internet...
					li Another webpage. Steve Jobs introducing iPhone. "The internet in your pocket".
					li ...Fade to black

			.sb
				img(src='images/sb/story-1.png')
				

			.ad
				+boximage('images/ad/starfield_stock_by_freelancah-d2k5mcu.jpg')


		section.cf
			.desc
				h2 A blinking prompt

				ul
					li http://www.thefutureoftheweb.com
					li Press _Enter_
					li Blink... GO...
					li Glitches and pops and loading and pulsing and movement _into_ the web.
					li "2D" becomes "3D". "Page" becomes "World". 

			.sb
				img(src='images/sb/story-1.png')
				img(src='images/sb/story-2.png')
				img(src='images/sb/story-3.png')
				img(src='images/sb/story-4.png')


			.ad
				+boximage('images/ad/tumblr_mjx1jl8DlW1r34zhyo2_500.gif')
				+boximage('images/ad/giphy.gif')
				+boximage('images/ad/tumblr_mkhzrw2vz31r34zhyo5_250.gif')
				+boximage('images/ad/tumblr_mk6pmyfVLf1r34zhyo4_500.gif')
				+boximage('images/ad/tumblr_mjlnth4qOt1r34zhyo2_500.gif')
				+boximage('images/ad/0a9dda55194cd315f9710d67bfb06aa4.jpg')


		section.cf
			.desc
				h2 A stage takes form

				ul
					li Structure emerges from chaos... 
					li Wireframes resolve, white on black. Like the holodeck.
					li A stage forms, and holds... Pulsing, doing something... Loading...

			.sb
				img(src='images/sb/story-5.png')
				img(src='images/sb/story-6.png')
				img(src='images/sb/story-7.png')
				img(src='images/sb/story-8.png')

			.ad
				+boximage('images/ad/sony_playstation_store_holodeck.jpg')


		section.cf
			.desc
				h2 A transition

				ul
					li The edges of the stage peel apart, fragment, flaking away... 
					li Like a cocoon disolving...
					li Revealing something beyond...


			.sb
				img(src='images/sb/story-9.png')

			.ad
				+boximage('images/ad/disintegrate.gif')
				+boximage('images/ad/disintegrate-2.gif')


		section.cf
			.desc
				h2 A world

				ul
					li "Whoa" moment... The first time we have ever seen the VR web...
					li We are standing in a great wide open world... 
					li We are looking around... it is 3D, immersive. Sounds echo in the distance.
					li There is movement, and life. Clouds, water ripples, birds...
					li Music can be heard faintly...

			.sb
				img(src='images/sb/story-placeholder.png')

			.ad
				+boximage('images/ad/landing/journey-2.jpg')
				+boximage('images/ad/landing/tumblr_m2ltdnxR3E1r1u2mpo1_1280.jpg')
				+boximage('images/ad/landing/ghibli-9.jpg')
				+boximage('images/ad/landing/c8ee31bbde07dcd281c8e800e51d09f1.jpg')
				+boximage('images/ad/landing/6529ca8fd588544485a0990b212fe522.jpg')
				+boximage('images/ad/landing/rhv-5.jpg')
				+boximage('images/ad/landing/dougcoupland-7.png')

		section.cf
			.desc
				h2 First footsteps

				ul
					li We look, and the world responds (eg plants grow where our gaze falls)
					li We touch, and the world responds (eg ripples on water where we click)
					li We lean forward, and we fly...
					li Skimming over the surface of the land... flying over water, then land...
					li Feeling the sensation of movement, and taking in the beauty...

			.sb
				img(src='images/sb/story-placeholder.png')

		section.cf
			.desc
				h2 Discovery

				ul
					li A light in the distance...
					li  We move towards it...
					li  It draws nearer, and is revealed to be a doorwawy. A portal...
					li  We step into it...

			.sb
				img(src='images/sb/story-placeholder.png')

		section.cf
			.desc
				h2 Transported

				ul
					li The world distorts and ripples
					li We are aware of whooshing through space
					li The old world falls away
					li And a new one resolves

			.sb
				img(src='images/sb/story-placeholder.png')

		section.cf
			.desc
				h2 Exploring the next world

				ul
					li _TODO: design this world_

			.sb
				img(src='images/sb/story-placeholder.png')

		section.cf
			.desc
				h2 Jumping back to the previous world

				ul
					li We step back towards the portal that brought up to this world. _TODO: interaction specifics._ 
					li We warp back into the landing world...

			.sb
				img(src='images/sb/story-placeholder.png')

		section.cf
			.desc
				h2 Night time

				ul
					li We are standing in moonlight...
					li The time of day has changed while we were through the portal... It is nighttime now. A moon is overhead. It casts a white blue light over the landscape and ripples on the water...
					li Another light is visible in the distance...
					li We move towards it...

			.sb
				img(src='images/sb/story-placeholder.png')

		section.cf
			.desc
				h2 We discover another portal

				ul
					li _TODO_

			.sb
				img(src='images/sb/story-placeholder.png')

		section.cf
			.desc
				h2 We step through it, into another world

				ul
					li _TODO_

			.sb
				img(src='images/sb/story-placeholder.png')


		section.cf
			.desc
				h2 Exploring this world

				ul
					li _TODO: design this world_

			.sb
				img(src='images/sb/story-placeholder.png')

		section.cf
			.desc
				h2 Jumping back to the previous world

				ul
					li We step back towards the portal that brought up to this world. _TODO: interaction specifics._ 
					li We warp back into the landing world...

			.sb
				img(src='images/sb/story-placeholder.png')


		section.cf
			.desc
				h2 Another light in the distance

				ul
					li We are standing in the rain...
					li It is daytime again, but fog and rain surrounds us...
					li Another light is visible in the distance...
					li We move towards it...

			.sb
				img(src='images/sb/story-placeholder.png')


		section.cf
			.desc
				h2 We discover another portal

				ul
					li _TODO_

			.sb
				img(src='images/sb/story-placeholder.png')


		section.cf
			.desc
				h2 We step through it, into another world
				
				ul
					li _TODO_

			.sb
				img(src='images/sb/story-placeholder.png')


		section.cf
			.desc
				h2 Exploring this world

				ul
					li li _TODO: design this world_

			.sb
				img(src='images/sb/story-placeholder.png')


		section.cf
			.desc
				h2 Jumping back to the previous world

				ul
					li We step back towards the portal that brought up to this world. _TODO: interaction specifics._ 
					li We warp back into the landing world...

			.sb
				img(src='images/sb/story-placeholder.png')


		section.cf
			.desc
				h2 A voice

				ul
					li A presence tells us we have discovered all three worlds
					li The presence makes itself known... Introduces itself...
					li It joins us! This is how we get our HUD.
					li _TODO: specifics_

			.sb
				img(src='images/sb/story-placeholder.png')


		section.cf
			.desc
				h2 Trying out the HUD

				ul
					li The HUD lets us do _TODO_
					li We try it out for the first time...
					li We tap on a bookmark...
					li The world shimmers, and we are transported...

			.sb
				img(src='images/sb/story-placeholder.png')